/*
colors to use
#CDF0EA
#62B6B7
#F9F9F9
#F6C6EA
#F56EB3
#FAF4B7
#ADE792
#FF4A4A
*/

body {
  background-color: #F9F9F9;
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0;
}

.game-box {
  text-align: center;
  margin: 15px auto;
}

#q-and-a-box {
  width: 50%;
  margin: 0 auto;
  border: 5px solid #CDF0EA;
  border-radius: 25px;
  padding: 10px;
}

.question-box {
  max-width: 100%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

#q-pic {
  max-width: 70%;
  height: auto;
  border: 1px solid black;
}

#the-question {
  max-width: 70%;
  height: 50px;
  border: 3px dashed #FAF4B7;
  margin: 0 auto;
  padding: 10px 0 0 0;
}

#answers-box {
  /*display: flex;
  flex-direction: column;*/
  width: 70%;
  margin: 0 auto;
/*setting display to None so I can drop in answer boxes with JavaScript*/
  display: none;
}


.row {
  display: flex;
  flex-direction: row;
}

.col {
  width: 50%;
}

#answers-box button {
  background-color: #CDF0EA;
  width: 95%;
  margin: 5px auto;
  padding: 15px 0;
  border-style: hidden;
  border-radius: 15px;
}

.answer-button.selected {
  background-color: #62B6B7;
}

#answers-box button:hover {
  background-color: #62B6B7 !important;
}

.next-box {
 margin: 0 auto;
}

#next-button {
  background-color: #F6C6EA;
  width: 95%;
  margin: 15px auto;
  padding: 15px 0;
  border-style: hidden;
  border-radius: 15px;
}

#next-button:hover {
  background-color: #F56EB3;
}

.scores-next-box {
  background-color: #FAF4B7;
  max-width: 50%;
  margin: 5px auto;
  padding: 1px 0 1px 0;
  display: flex;
  flex-direction: row;
}

.scores-box {
  width: 50%;
}

.next-box {
  width: 50%;
}

.scores {
  margin: 10px 0;
}

@media (max-width: 900px) {
  .game-box {
    width: 100%;
  }
  #q-and-a-box {
    width: 90%;
  }
  #q-pic {
    max-width: 90%;
  }
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .game-box {
    width: 100%;
  }

  #q-and-a-box {
    width: 90%;
  }

  #q-pic {
    max-width: 100%;
  }

  #the-question {
    font-size: 85%;
    padding: 5px 0 0 0;
    max-width: 90%;
  }

  .row {
    width: 100%;
  }

  .col {
    width: 100%;
  }

  .scores-next-box {
    max-width: 99%;
  }
}
